{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>MEMBERS</h2>
    <ul>
        <li><a href="{% url 'research_pj:index' %}">연구분야</a></li>
        <li><a href="{% url 'member_board_Phd:index' %}">박사과정</a></li>
        <li><a href="{% url 'member_board_MA:index' %}">석사과정</a></li>
        <li><a href="{% url 'member_board_alum_Phd:index' %}">동문</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://www.naver.com">NAVER</option>
        <option value="http://www.daum.net">DAUM</option>
        <option value="http://map.naver.com/">네이버 지도</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>MEMBERS &gt; 교수님</span>
</div>
<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>이상훈 교수님</h2>
</div>
<!-- 디자인모듈 -->
{% comment %} <div class="de_module"> {% endcomment %}
{% comment %} <div class="de17"> {% endcomment %}
<div class="row">

<!---->
<div class="col-md-3 col-sm-6 col-xs-6">
<div class="box">
<div class="imgArea">
<a href="{% url 'professor:professor_Hyun' %}">
<span class="overlay"></span>
<img src="{% static 'img/professor/de17_img01.jpg' %}" alt="">
</a>
</div>
<div class="txtArea">
<h3>현창택 교수님</h3>
<p>
전공 : 건설사업관리(CM), PgM, Delivery System, VE/LCC, 계약 및 클레임, 건축시공
</p>
<p>소속 : 서울시립대학교 건축학부 건축공학전공
</p>
<span><a href="{% url 'professor:professor_Hyun' %}" class="btn btn-default">Click here</a></span>
</div>
</div>
</div>
<!---->
<div class="clearfix visible-sm-block visible-xs-block"></div>

<!---->
<div class="col-md-3 col-sm-6 col-xs-6">
<div class="box">
<div class="imgArea">
<a href="{% url 'professor:professor_Lee' %}">
<span class="overlay"></span>
<img src="{% static 'img/professor/de17_img03.jpg' %}" alt="">
</a>
</div>
<div class="txtArea">
<h3>이상훈 교수님</h3>
<p>
전공 : 지능형 빌딩 정보 모델링 및 유지관리(BIM), 빌딩 정보 네트워크 및 표준화된 정보 교환, AR/VR
</p>
<p>소속 : 서울시립대학교 건축학부 건축공학전공
</p>
<span><a href="{% url 'professor:professor_Lee' %}" class="btn btn-default">Click here</a></span>
</div>
</div>
</div>

</div>
</div>
</div>   
</div>
{% endblock %}
