{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>MEMBERS</h2>
    <ul>
        <li><a href="{% url 'research_pj:index' %}">연구분야</a></li>
        <li><a href="{% url 'member_board_Phd:index' %}">박사과정</a></li>
        <li><a href="{% url 'member_board_MA:index' %}">석사과정</a></li>
        <li><a href="{% url 'member_board_alum_Phd:index' %}">동문</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://www.naver.com">NAVER</option>
        <option value="http://www.daum.net">DAUM</option>
        <option value="http://map.naver.com/">네이버 지도</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>MEMBERS &gt; 교수님</span>
</div>
<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>현창택 교수님</h2>
</div>
<!-- 디자인모듈 -->
<div class="de_module">
<div class="de36">
<div class="nm_tit">

<table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td width="100%" height="150">
<img src="{% static 'img/professor/7.png' %}" width="665" height="150" border="0" usemap="#Map2">
<map name="Map2">
    <area shape="rect" coords="34,56,312,79" href="{% url 'professor:professor_Hyun' %}">
    <area shape="rect" coords="342,56,606,79" href="{% url 'professor:professor_Lee' %}">
</map>
</td></tr>
</tbody></table> 
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td height="34" class="textarea2" colspan="2"><img src="{% static 'img/professor/professor_Hyun/2_1.png' %}"></td></tr><tr><td width="100%" height="1450">
<img src="{% static 'img/professor/professor_Hyun/professor.jpg' %}" width="665" height="1450" border="0" usemap="#Map">
<map name="Map">
     <area shape="rect" coords="52,230,180,266" href="/professor/professor_Hyun/1.html" target="_blank" onclick="popWin = window.open('/professor/professor_Hyun/1.html','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="196,230,323,266" href="/default/mp2/mp2_sub4_member/info/member1_1.php" target="_blank" onclick="popWin = window.open('/professor/professor_Hyun/2.html','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="340,230,468,266" href="/default/mp2/mp2_sub4_member/info/member1_1.php" target="_blank" onclick="popWin = window.open('/professor/professor_Hyun/3.html','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="485,230,612,266" href="/default/mp2/mp2_sub4_member/info/member1_1.php" target="_blank" onclick="popWin = window.open('/professor/professor_Hyun/4.html','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="52,272,180,308" href="/default/mp2/mp2_sub4_member/info/member1_1.php" target="_blank" onclick="popWin = window.open('{/professor/professor_Hyun/5.html','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="196,272,323,308" href="/default/mp2/mp2_sub4_member/info/member1_1.php" target="_blank" onclick="popWin = window.open('/professor/professor_Hyun/6.html','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="340,272,468,308" href="/default/mp2/mp2_sub4_member/info/member1_1.php" target="_blank" onclick="popWin = window.open('/professor/professor_Hyun/7.html','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="485,272,612,308" href="/default/mp2/mp2_sub4_member/info/member1_1.php" target="_blank" onclick="popWin = window.open('/professor/professor_Hyun/8.html','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
</map>
      </td></tr>
</tbody></table>
</div>   
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}