{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>MEMBERS</h2>
    <ul>
        <li><a href="{% url 'professor:index' %}">교수님</a></li>
        <li><a href="{% url 'member_board_Phd:index' %}">박사과정</a></li>
        <li><a href="{% url 'member_board_MA:index' %}">석사과정</a></li>
        <li><a href="{% url 'member_board_alum_Phd:index' %}">동문</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://campus.uos.ac.kr/CoMaIn/index.htm">건설경영정보연구실</option>
        <option value="https://www.uos.ac.kr/main.do?epTicket=LOG">서울시립대학교</option>
        <option value="http://ae.uos.ac.kr/">서울시립대학교 도시과학대학 건축학부(건축공학)</option>
        <option value="http://usi.uos.ac.kr">서울시립대학교 도시과학연구원</option>
        <option value="https://www.kvei.or.kr/">한국VE연구원</option>
        <option value="https://www.molit.go.kr/">국토교통부</option>
        <option value="https://smartcity.go.kr/">스마트시티 종합포털</option>
        <option value="https://www.smartcities.kr/">스마트시티 혁신성 장동력 프로젝트 사업단</option>
        <option value="https://www.kict.re.kr/">한국건설기술연구원</option>
        <option value="https://sit.re.kr/">서울기술연구원</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>MEMBERS &gt; 교수님</span>
</div>
<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>이상훈 교수님</h2>
</div>
<!-- 디자인모듈 -->
<div class="de_module">
<div class="de36">
<div class="nm_tit">
<link rel="stylesheet" type="text/css" href="{% static 'css/btn.css' %}">
<div class = 'button-7'>
<div class="eff-7"></div>
<a href="{% url 'professor:professor_Hyun' %}"> 현창택 교수님 </a>
</div>
<div class = 'button-7'>
<div class="eff-7"></div>
<a href="{% url 'professor:professor_Lee' %}"> 이상훈 교수님 </a>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td height="34" class="textarea2" colspan="2"><img src="{% static 'img/professor/professor_Lee/2_9.png' %}"></td></tr><tr><td width="100%" >
<img src="{% static 'img/professor/professor_Lee/professor3.jpg' %}" width="665" border="0" usemap="#Map">
<map name="Map">
    <area shape="rect" coords="52,250,180,286" href="/default/mp2/mp2_sub4_member/info/member3_1.php" target="_blank" onclick="popWin = window.open('{% url 'professor_lee_1:index' %}','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="196,250,323,286" href="/default/mp2/mp2_sub4_member/info/member3_1.php" target="_blank" onclick="popWin = window.open('{% url 'professor_lee_2:index' %}','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="340,250,468,286" href="/default/mp2/mp2_sub4_member/info/member3_1.php" target="_blank" onclick="popWin = window.open('{% url 'professor_lee_3:index' %}','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="485,250,612,286" href="/default/mp2/mp2_sub4_member/info/member3_1.php" target="_blank" onclick="popWin = window.open('{% url 'professor_lee_4:index' %}','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="52,292,180,328" href="/default/mp2/mp2_sub4_member/info/member3_1.php" target="_blank" onclick="popWin = window.open('{% url 'professor_lee_5:index' %}','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="196,292,323,328" href="/default/mp2/mp2_sub4_member/info/member3_1.php" target="_blank" onclick="popWin = window.open('{% url 'professor_lee_6:index' %}','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="340,292,468,328" href="/default/mp2/mp2_sub4_member/info/member3_1.php" target="_blank" onclick="popWin = window.open('{% url 'professor_lee_7:index' %}','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
    <area shape="rect" coords="485,292,612,328" href="/default/mp2/mp2_sub4_member/info/member3_1.php" target="_blank" onclick="popWin = window.open('{% url 'professor_lee_8:index' %}','windows','width=790,height=670,scrollbars=yes'); popWin.focus(); return false;">
</map>
      </td></tr>
</tbody></table>
</div>   
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}