{% extends "base.html" %}
{% load humanize %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>COMMUNITY</h2>
    <ul>
        <li><a href="{% url 'notice:notice_list' %}">공지사항</a></li>
        <li><a href="{% url 'free:all_list' %}">자유게시판</a></li>
        <li><a href="{% url 'photo:index' %}">포토갤러리</a></li>
        <li><a href="{% url 'seminar:index' %}">세미나</a></li>
        <li><a href="{% url 'ref_room:index' %}">자료실</a></li>
        {% comment %} <li><a href="{% url 'QA:all_list' %}">Q&amp;A</a></li> {% endcomment %}
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://www.naver.com">NAVER</option>
        <option value="http://www.daum.net">DAUM</option>
        <option value="http://map.naver.com/">네이버 지도</option>
    </select>
</div>
</div>
{% endblock left_menu %}
{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>COMMUNITY &gt; 자유게시판</span>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-9">
        <div id="contentsArea">
        <div class="n_tit_page">
        <h2>자유게시판</h2>
        </div>
    </div>
    <div>
        <table class="table table-sm table-hover">
            <thead style="border-top: 1px solid #dee2e6;">
                <tr class="text-center">
                    <th style="font-weight: bold; font-size: 16px;">번호</th>
                    <th style="font-weight: bold; font-size: 16px;">제목</th>
                    <th style="font-weight: bold; font-size: 16px;">작성자</th>
                    <th style="font-weight: bold; font-size: 16px;">등록일</th>
                    <th style="font-weight: bold; font-size: 16px;">조회수</th>
                </tr>
            </thead>
            <tbody>
                {% if free_list %}
                {% for free in free_list %}
                <tr class="text-center" style="cursor:pointer;" onclick="location.href='/free/{{ free.id }}/'">
                    <td style="font-weight: 500;">{{ free.id }}</td>
                    <td class="text-left" style="width:50%; font-weight: 600;">
                        <!-- <a id="free-{{ free.id }}" href="{% url 'free:free_detail' free.id %}">{{ free.title|truncatechars:30 }}</a> -->
                        <a id="free-{{ free.id }}">{{ free.title|truncatechars:30 }}</a>
                        {% if free.comments %}
                        &nbsp;<span style="color:gray;">[{{ free.comments }}]</span>
                        {% endif %}
                    </td>
                    <td style="font-weight: 500;">{{ free.writer }}</td>
                    {% if free.created_string == False %}
                    <td style="font-weight: 500;">{{ free.registered_date|date:'m월 d일' }}</td>
                    {% else %}
                    <td style="font-weight: 500;">{{ free.created_string }}</td>
                    {% endif %}
                    <td style="font-weight: 500;">{{ free.hits }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
            <div>
                <a href="{% url 'free:free_write' %}" id="write_btn" class="btn btn-danger">글쓰기</a>
            </div>
        </div>
        <br>
        <div class="col-md-offset-6">
            {% if is_paginated %}
            <!-- <ul class="pagination justify-content-center pagination-sm"> -->
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}"
                        tabindex="-1" style="font-size: 15px;">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" style="font-size: 15px;">이전</a>
                </li>
                {% endif %}

                {% for page in page_range %}
                <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}" style="font-size: 15px;">{{ page }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}" style="font-size: 15px;">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" style="font-size: 15px;">다음</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>

<script type="text/javascript">
    target = window.location.search.split('&')[0].split('=')[1]
    var type = document.getElementsByTagName('option')
    for (var i = 0; i < 5; i++) {
        if (type[i].value === target) {
            type[i].setAttribute('selected', 'selected')
        }
    }
</script>
{% endblock %}