{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>PAPER/PATENT</h2>
    <ul>
        <li><a href="{% url 'research_pj:index' %}">연구분야</a></li>
        <li><a href="{% url 'pj_board_gov:index' %}">프로젝트</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://www.naver.com">NAVER</option>
        <option value="http://www.daum.net">DAUM</option>
        <option value="http://map.naver.com/">네이버 지도</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>RESEARCH_PJT &gt; 연구분야</span>
</div>
<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>연구분야</h2>
</div>
<!-- 디자인모듈 -->
<div class="de_module">
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td width="100%" height="150">
<img src="{% static 'img/search_pj/1.png' %}" width="665" height="150" border="0" usemap="#Map">
<map name="Map">
    <area shape="rect" coords="68,39,191,69" href="{% url 'research_pj:index' %}">
    <area shape="rect" coords="209,46,332,68" href="{% url 'research_pj:PM' %}">
    <area shape="rect" coords="363,44,486,67" href="{% url 'research_pj:VE' %}">
    <area shape="rect" coords="505,46,627,67" href="{% url 'research_pj:Clame' %}">
    <area shape="rect" coords="70,103,189,127" href="{% url 'research_pj:PMIS' %}">
    <area shape="rect" coords="211,100,332,126" href="{% url 'research_pj:EVMS' %}">
    <area shape="rect" coords="363,106,486,128" href="{% url 'research_pj:Sustain' %}">
    <area shape="rect" coords="508,103,626,125" href="{% url 'research_pj:RISK' %}">
    <area shape="rect" coords="285,154,408,179" href="{% url 'research_pj:QC' %}">
</map></td></tr>
</tbody></table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr><td colspan="3" align="right">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr><td>
<div align="left"><img src="{% static 'img/research_pj/3_1.png' %}"></div></td></tr></tbody></table></td></tr><tr><td width="12" height="30"</td><td width="676" height="30" class="page_text4"><div align="left"></div></td><td width="12" height="30"</td></tr><tr><td colspan="3" align="right" class="bt"</td></tr></tbody></table>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}