{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>PAPER/PATENT</h2>
    <ul>
        <li><a href="{% url 'paper_patent:index' %}">국내외 학술지</a></li>
        <li><a href="{% url 'paper_patent:world_conference' %}">국내외 학술대회</a></li>
        <li><a href="{% url 'paper_patent:world_thesis' %}">졸업논문</a></li>
        <li><a href="{% url 'paper_patent:property_1' %}">지적재산권</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://www.naver.com">NAVER</option>
        <option value="http://www.daum.net">DAUM</option>
        <option value="http://map.naver.com/">네이버 지도</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}
{% endblock content %}