{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>SITE LINK</h2>
    <ul>
        <li><a href="{% url 'site_link:index' %}">대학 CEM 연구실</a></li>
        <li><a href="{% url 'site_link:public' %}">공공연구소</a></li>
        <li><a href="{% url 'site_link:gov' %}">정부기관</a></li>
        <li><a href="{% url 'site_link:insitute' %}">학회 및 협회</a></li>
        <li><a href="{% url 'site_link:oversea' %}">해외건설관련</a></li>
        <li><a href="{% url 'site_link:other' %}">기타</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://campus.uos.ac.kr/CoMaIn/index.htm">건설경영정보연구실</option>
        <option value="https://www.uos.ac.kr/main.do?epTicket=LOG">서울시립대학교</option>
        <option value="http://ae.uos.ac.kr/">서울시립대학교 도시과학대학 건축학부(건축공학)</option>
        <option value="http://usi.uos.ac.kr">서울시립대학교 도시과학연구원</option>
        <option value="https://www.kvei.or.kr/">한국VE연구원</option>
        <option value="https://www.molit.go.kr/">국토교통부</option>
        <option value="https://smartcity.go.kr/">스마트시티 종합포털</option>
        <option value="https://www.smartcities.kr/">스마트시티 혁신성장동력 프로젝트 사업단</option>
        <option value="https://www.kict.re.kr/">한국건설기술연구원</option>
        <option value="http://sit.re.kr/kr/main.do">서울기술연구원</option>
    </select>
</div>
</div>
{% endblock left_menu%}

{% block content %}
{% endblock content %}