{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>COMMUNITY</h2>
    <ul>
        <li><a href="{% url 'notice:notice_list' %}">공지사항</a></li>
        <li><a href="{% url 'free:all_list' %}">자유게시판</a></li>
        <li><a href="{% url 'photo:index' %}">포토갤러리</a></li>
        <li><a href="{% url 'seminar:index' %}">세미나</a></li>
        <li><a href="{% url 'ref_room:index' %}">자료실</a></li>
        <li><a href="{% url 'QA:all_list' %}">Q A</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://www.naver.com">NAVER</option>
        <option value="http://www.daum.net">DAUM</option>
        <option value="http://map.naver.com/">네이버 지도</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}

<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>포토갤러리</h2>
</div>
<!-- 모듈미사용 -->
<div class="de_module">
<table border="0" cellp<table border="0" cellspacing="0" cellpadding="0" width="650" bgcolor="#FFFFFF" background="">
    <tbody><tr valign="top">
        {% if data_list %}
        {% for data in data_list %}
        <td valign="bottom" align="center" width="25%" class="boxArea">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td valign="top" align="center" class="bbsnewf5" style="word-break:break-all;"><!-- overflow:auto; -->
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr class="nSize">
                            <td valign="bottom" align="center">
                            <a href="{% url 'photo:detail' data.id %}">
                            <img alt="" src="{{data.photo.url}}" width="120" height="120" border="0"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="gallery_subject" style="text-align:center">
                            <a href="{% url 'photo:detail' data.id %}"><span class="gallery_title">{{data.title}}</span>    </a><br>                                                                                                                                                </td>
                        </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
        {% endfor %}
        {% endif %}
    {% if user.username == 'cemuos' or user.username == 'admin' %}
    <div>
        <div>
            <button class="btn btn-danger" style="opacity: 80%; font-size:16px;" onclick="location.href='{% url 'photo:create' %}'">글쓰기</button>
        </div>
    </div>
    {% endif %}
<ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if data_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ data_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in data_list.paginator.page_range %}
        {% if page_number >= data_list.number|add:-5 and page_number <= data_list.number|add:5 %}
            {% if page_number == data_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if data_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ data_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}