{% extends 'base.html' %}

{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>COMMUNITY</h2>
    <ul>
        <li><a href="{% url 'notice:notice_list' %}">공지사항</a></li>
        <li><a href="{% url 'free:all_list' %}">자유게시판</a></li>
        <li><a href="{% url 'photo:index' %}">포토갤러리</a></li>
        <li><a href="{% url 'seminar:index' %}">세미나</a></li>
        <li><a href="{% url 'ref_room:index' %}">자료실</a></li>
        {% comment %} <li><a href="{% url 'QA:all_list' %}">Q&amp;A</a></li> {% endcomment %}
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://www.naver.com">NAVER</option>
        <option value="http://www.daum.net">DAUM</option>
        <option value="http://map.naver.com/">네이버 지도</option>
    </select>
</div>
</div>
{% endblock left_menu %}
{% block content %}
<div class = "col-sm-9">
	<div id="contentsArea">
		<div class="n_tit_page">
			<h2>포토갤러리</h2>
		</div>
		<div class="n_board_txt">
			<form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card" style="width: 100%;">
                    <!--제목,분류,작성일-->
                    <div class="card-header" style="padding: 0rem 0.2rem">
                        <div class="md-form form-group" style="margin-top: 8.5px;">
                            <div style="padding: 0 5.5px;">
                            <!-- <label for="{{ form.title.id_for_label }}"
                                class="col-sm-2 control-label">{{ form.title.label }}</label> -->
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class=" col-sm-12">
                                {{ form.content }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="padding-left: 0px; margin-top:18px;">
                    <div class="form-group">
                        <div class="col-sm-12">
                            썸네일 : {{ form.photo }}
                        </div>
                    </div>
                </div>
                <div class="text-right" style="margin-top: 10px;">
                    {% if edit %}
                    <button type="submit" id="write" class="btn btn-sm">{{ edit }}</button>
                    {% else %}
                    <button type="submit" id="write" class="btn btn-sm">작성하기</button>
                    {% endif %}
                    <input type="checkbox" id="fileChangeCheck" name="fileChange" style="display: none;">
                </div>
        </form>
	</div>
</div>
</div>
</div>
</div>

{% endblock content %}