{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>PAPER/PATENT</h2>
    <ul>
        <li><a href="{% url 'paper_patent:index' %}">국내외 학술지</a></li>
        <li><a href="{% url 'paper_patent:world_conference' %}">국내외 학술대회</a></li>
        <li><a href="{% url 'paper_patent:world_thesis' %}">졸업논문</a></li>
        <li><a href="{% url 'paper_patent:property_1' %}">지적재산권</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://www.naver.com">NAVER</option>
        <option value="http://www.daum.net">DAUM</option>
        <option value="http://map.naver.com/">네이버 지도</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>PAPER/PATENT &gt; 졸업논문</span>
</div>
<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>졸업논문</h2>
</div>
<!-- 디자인모듈 -->
<div class="de_module">
<link rel="stylesheet" type="text/css" href="{% static 'css/btn.css' %}">
<div class = 'button-7'>
<div class="eff-7"></div>
<a href="{% url 'paper_patent:kor_thesis' %}"> 박사학위 논문 </a>
</div>
<div class = 'button-7'>
<div class="eff-7"></div>
<a href="{% url 'paper_patent:world_thesis' %}"> 석사학위 논문 </a>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr><td colspan="3" align="right">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr><td>
<div align="left"><img src="{% static 'img/paper_patent/etc_4_3_6.png' %}"></div></td></tr></tbody></table></td></tr><tr><td width="12" height="30"</td><td width="676" height="30" class="page_text4"><div align="left"></div></td><td width="12" height="30"</td></tr><tr><td colspan="3" align="right" class="bt"</td></tr></tbody></table>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}