{% extends 'left_menu/sitelink_menu.html' %}
{% load static %}

{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>SITE_LINK &gt; 정부 기관</span>
</div>
<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>정부 기관</h2>
</div>
<!-- 디자인모듈 -->
<div class="de_module">
<div align="left"><img src="{% static 'img/site_link/sitelink_3_.png' %}" width="100%" height="100%" border="0" usemap="#Map">
<map name="Map">
    <area shape="rect" coords="55,76,93,92" href="http://www.bai.go.kr" target="_blank">
    <area shape="rect" coords="360,76,475,94" href="http://hitelecom.co.kr" target="_blank">
    <area shape="rect" coords="55,114,115,132" href="http://ngi.go.kr/index.jsp" target="_blank">
    <area shape="rect" coords="360,114,442,132" href="http://iso.org/iso/en/ISOOnline.frontpage" target="_blank">
    <area shape="rect" coords="55,154,114,171" href="http://mltm.go.kr" target="_blank">
    <area shape="rect" coords="360,155,420,172" href="http://mpb.go.kr" target="_blank">
    <area shape="rect" coords="55,194,147,212" href="http://www.lh.or.kr" target="_blank">
    <area shape="rect" coords="360,194,535,213" href="http://lhi.lh.or.kr" target="_blank">
    <area shape="rect" coords="55,234,91,251" href="http://www.moj.go.kr" target="_blank">
    <area shape="rect" coords="360,235,485,252" href="http://www.pudco.co.kr" target="_blank">
    <area shape="rect" coords="55,275,159,291" href="http://www.smrt.co.kr/index.jsp" target="_blank">
    <area shape="rect" coords="360,274,487,292" href="http://www.i-sh.co.kr" target="_blank">
    <area shape="rect" coords="55,315,169,332" href="http://www.airport.or.kr/home.jsp" target="_blank">
    <area shape="rect" coords="360,314,452,331" href="http://www.kistec.or.kr" target="_blank">
    <area shape="rect" coords="55,356,93,372" href="http://www.pps.go.kr" target="_blank">
    <area shape="rect" coords="360,356,398,373" href="http://www.nso.go.kr/newnso/main.htm" target="_blank">
    <area shape="rect" coords="55,394,171,411" href="http://www.ktx.or.kr/nkr/index.jsp" target="_blank">
    <area shape="rect" coords="360,394,431,411" href="http://www.airport.co.kr" target="_blank">
    <area shape="rect" coords="55,435,125,451" href="http://www.kosef.re.kr/main/main.html" target="_blank">
    <area shape="rect" coords="360,434,433,450" href="http://www.freeway.co.kr" target="_blank">
    <area shape="rect" coords="55,474,148,493" href="http://www.hrdkorea.or.kr" target="_blank">
    <area shape="rect" coords="360,473,442,490" href="http://www.kowaco.or.kr" target="_blank">
    <area shape="rect" coords="55,514,126,530" href="http://www.kepco.co.kr" target="_blank">
    <area shape="rect" coords="360,513,453,532" href="http://www.krf.or.kr" target="_blank">
    <area shape="rect" coords="55,554,93,571" href="http://www.cheonan.go.kr" target="_blank">
    <area shape="rect" coords="360,554,430,571" href="http://www.humetro.busan.kr" target="_blank">
    <area shape="rect" coords="55,593,159,612" href="http://www.kictep.re.kr" target="_blank">
</map></div></td></tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}