{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>SCEM</h2>
    <ul>
        <li><a href="{% url 'scem:index' %}">인사말</a></li>
        <li><a href="{% url 'scem:history' %}">연혁</a></li>
        <li><a href="{% url 'scem:bylaws' %}">연구실내규</a></li>
        <li><a href="{% url 'scem:come' %}">오시는길</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://campus.uos.ac.kr/CoMaIn/index.htm">건설경영정보연구실</option>
        <option value="https://www.uos.ac.kr/main.do?epTicket=LOG">서울시립대학교</option>
        <option value="http://ae.uos.ac.kr/">서울시립대학교 도시과학대학 건축학부(건축공학)</option>
        <option value="http://usi.uos.ac.kr">서울시립대학교 도시과학연구원</option>
        <option value="https://www.kvei.or.kr/">한국VE연구원</option>
        <option value="https://www.molit.go.kr/">국토교통부</option>
        <option value="https://smartcity.go.kr/">스마트시티 종합포털</option>
        <option value="https://www.smartcities.kr/">스마트시티 혁신성장동력 프로젝트 사업단</option>
        <option value="https://www.kict.re.kr/">한국건설기술연구원</option>
        <option value="http://sit.re.kr/kr/main.do">서울기술연구원</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>SCEM &gt; 연혁</span>
</div>
<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>연혁</h2>
</div>
<!-- 디자인모듈 -->
<div class="de_module">
<div class="de20">
    <div class="con">
        <img src = {% static 'img/scem/hist.jpg' %} style="cursor: pointer;" onclick="doImgPop('{% static 'img/scem/history.png' %}')">
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">
    function doImgPop(img){
    img1= new Image();
    img1.src=(img);
    imgControll(img);
    }
    
    function imgControll(img){
    if((img1.width!=0)&&(img1.height!=0)){
        viewImage(img);
    }
    else{
        controller="imgControll('"+img+"')";
        intervalID=setTimeout(controller,20);
    }
    }

    function viewImage(img){
    W=img1.width;
    H=img1.height;
    O="width="+W+",height="+H+",scrollbars=yes";
    imgWin=window.open("","",O);
    imgWin.document.write("<html><head><title>:*:*:*: 이미지상세보기 :*:*:*:*:*:*:</title></head>");
    imgWin.document.write("<body topmargin=0 leftmargin=0>");
    imgWin.document.write("<img src="+img+" onclick='self.close()' style='cursor:pointer;' title ='클릭하시면 창이 닫힙니다.'>");
    imgWin.document.close();
    }
    function detailView(src) {
    $("#detail_img").attr("src", src);
    $("#product_popup").show();
    }
    
    $(function(){
    $("#pop_close").click(function(){
        $("#detail_imgt_pop").hide();
    });
    });
</script>
{% endblock script %}