{% extends 'base.html' %}
{% load static %}
{% block left_menu %}
<div class="n_contents">
<div class="container">
<div class="row">

<!-- 메뉴 영역 -->
<div class="col-sm-3">
<!-- 페이지메뉴 -->
<div class="pageMenu wide">
    <h2>SCEM</h2>
    <ul>
        <li><a href="{% url 'scem:index' %}">인사말</a></li>
        <li><a href="{% url 'scem:history' %}">연혁</a></li>
        <li><a href="{% url 'scem:bylaws' %}">연구실내규</a></li>
        <li><a href="{% url 'scem:come' %}">오시는길</a></li>
    </ul>
</div>
<!-- 좌측 셀렉트 -->
<div class="form-group left_select">
    <select class="form-control" id="sel2" onchange="if(this.value)window.open(this.value);">
        <option value="">FAMILY SITE</option>
        <option value="http://campus.uos.ac.kr/CoMaIn/index.htm">건설경영정보연구실</option>
        <option value="https://www.uos.ac.kr/main.do?epTicket=LOG">서울시립대학교</option>
        <option value="http://ae.uos.ac.kr/">서울시립대학교 도시과학대학 건축학부(건축공학)</option>
        <option value="http://usi.uos.ac.kr">서울시립대학교 도시과학연구원</option>
        <option value="https://www.kvei.or.kr/">한국VE연구원</option>
        <option value="https://www.molit.go.kr/">국토교통부</option>
        <option value="https://smartcity.go.kr/">스마트시티 종합포털</option>
        <option value="https://www.smartcities.kr/">스마트시티 혁신성 장동력 프로젝트 사업단</option>
        <option value="https://www.kict.re.kr/">한국건설기술연구원</option>
        <option value="https://sit.re.kr/">서울기술연구원</option>
    </select>
</div>
</div>
{% endblock left_menu %}

{% block content %}
<div class="n_position">
<img src="/default/img/_images/history_home.gif" alt=""><span>SCEM &gt; 연구실내규</span>
</div>
<!-- 내용 영역 -->
<div class="col-sm-9">
<div id="contentsArea">
<div class="n_tit_page">
<h2>연구실내규</h2>
</div>
<!-- 디자인모듈 -->
<div class="de_module">
<div class="de20">
    <div class="con">
       
        <div class="col-md-12">
<p><img src="{% static 'img/scem/law01.jpg' %}"></p>
<br>
</div>
<div class="txtArea">
    <div class="slogan">
        01
  <br> 목적
    </div>
    
    <dl>
<br>
        <dd>
        <p>&nbsp; &nbsp; 1) 서울시립대학교 스마트건설관리 연구실의 효과적 운영</p>
        <p>&nbsp; &nbsp; 2) 연구실의 연구활동지침 및 운영지침 마련<br></p>
        </dd>
<br>
        <div class="slogan">
            02
      <br> 연구실 구성
        </div>
<br>
        <dd>
            <p>1) 연구실 구성원</p>
            <p>&nbsp; &nbsp;1 지도교수</p>
            <p>&nbsp; &nbsp;2 연구원<br></p>
               
            <p>2) 연구원 자격요건</p>
            <p>&nbsp; &nbsp; 1 YB연구원</p>
            <p>&nbsp; &nbsp; &nbsp;- 서울시립대학교 대학원 건축공학과에 소속된 석사/박사과정 학생중 본 연구실에 소속된 자</p>
            <p>&nbsp; &nbsp; 2 OB연구원</p>
            <p>&nbsp; &nbsp; &nbsp;- 본 연구실 지도교수의 논문지도를 받고 졸업한 자<br></p>

        </dd>
<br>
        <div class="slogan">
            03
        <br> 스마트건설관리 연구실 운영 위원회
        </div>
        <dd>
            <p>연구원의 연구활동 지도 및 전반적인 운영협의를 위하여 연구실 내에 스마트건설관리 연구실 운영위원회를 설치한다.</p>
        </dd>

<br>
        <dd>
            <p>1)구성</p>
            <p>&nbsp; &nbsp; -고문 : 지도교수가 추천한 약간 명으로 구성할 수 있다.</p>
            <p>&nbsp; &nbsp; -위 원 장 : 지도교수</p>
            <p>&nbsp; &nbsp; -부위원장 : 박사과정 이상 또는 OB연구원으로서 지도교수가 추천한 자로 2~5인으로 구성</p>
            <p>&nbsp; &nbsp; -위 원 : 지도교수가 추천한 자로 구성</p>
            <p>&nbsp; &nbsp; -간사 : 연구실장<br></p>

            <p>2)기능</p>
            <p>&nbsp; &nbsp; 연구실에서 발표하는 학술논문의 지도, 연구실의 정기 세미나를 위한 프로그램, 산학공통 프로젝트, 기타 본 연구실의 운영 전반에 관련된 사항을 결정한다.<br></p>

            <p>3)위원회 소집</p>
            <p>&nbsp; &nbsp; 매년 1회 정기회의를 소집하는 것을 원칙으로 하며, 기타 필요 시 인원 이상의 요청에 의하여 위원장이 소집할 수 있다.<br></p>
        </dd>

    </dl>
<br>
    <div class="slogan">
        04
    <br> 학위과정
    </div>
    <br>
    <dd>
        <p>1) 논문연구 계획서 제출</p>
        <p>&nbsp; &nbsp; 대학원 건축공학과 석사/박사 학위 과정 내규에 따른다.<br></p>
        <p>2) 지도교수결정</p>
        <p>&nbsp; &nbsp; 대학원 건축공학과 석사/박사 학위 과정 내규에 따른다.<br></p>
        <p>3) 상근 연구 규정</p>
        <p>&nbsp; &nbsp; 대학원 건축공학과 석사/박사 학위 과정 내규에 따른다.<br></p>
        <p>4) 논문발표 및 심사</p>
        <p>&nbsp; &nbsp; 대학원 건축공학과 석사/박사 학위 과정 내규에 따른다.<br></p>
    </dd>
<br>
    <div class="slogan">
        05
    <br> 연구활동
    </div>
    <br>
    <dd>
        <p>1) 연구분야</p>
        <p>1. 엔지니어링(Engineering)분야</p>
        <p>&nbsp; &nbsp; -신기술 &nbsp; &nbsp; &nbsp; &nbsp; -공법 &nbsp; &nbsp; &nbsp; &nbsp; -재료 &nbsp; &nbsp; &nbsp; &nbsp; -장비</p>
        <p>2. 관리(Management)분야</p>
        <p>&nbsp; &nbsp; - 건설사업관리 (Construction Management)</p>
        <p>&nbsp; &nbsp; - 건설프로그램관리 (Program Management)</p>
        <p>&nbsp; &nbsp; - 건설고나련제도 및 정책</p>
        <p>&nbsp; &nbsp; - 발주방식 (Delivery System)</p>
        <p>&nbsp; &nbsp; - 계약 및 클레임 (Contract &amp; Claims)</p>
        <p>&nbsp; &nbsp; - VE(Value Engineering) 및 LCC (Life Cycle Cost)</p>
        <p>&nbsp; &nbsp; - 원가관리 (Cost Management)</p>
        <p>&nbsp; &nbsp; - 공정관리 (Process Management)</p>
        <p>&nbsp; &nbsp; - 품질관리 (Quality Management)</p>
        <p>&nbsp; &nbsp; - 환경관리 (Environment Management, 친환경 건축, Sustainability)</p>
        <p>&nbsp; &nbsp; - 건설정보관리 (PgMIS, PMIS, BIM, EVMS, Construction Simulation</p>
        <p>&nbsp; &nbsp; - 리스크관리(Risk Management)</p>
        <p>&nbsp; &nbsp; - 설계시공 통합관리 (Design-Construction Management, Constructability)</p>
        <p>&nbsp; &nbsp; - 유지관리 (FM &amp; AM, Mauntaunability)<br></bt></p>
        <p>2) 세미나</p>
        <p>&nbsp; &nbsp; 1. 정기세미나</p>
        <p>&nbsp; &nbsp; &nbsp; 학기 중 주 1회 실시하는 것을 원칙으로 한다.</p>
        <p>&nbsp; &nbsp; 2. 방학기간 중 세미나</p>
        <p>&nbsp; &nbsp; &nbsp; 결정된 교재에 의해 주 2~3회 실시하는 것을 원칙으로 한다.</p>
        <p>&nbsp; &nbsp; 3. 참석의 의무</p>
        <p>&nbsp; &nbsp; &nbsp; 모든 연구원은 정기세미나 및 방학기간 내 세미나에 의무적으로 참석하는 것을 원칙으로 한다. 단, 불가피한 경우에는 연구실장에게 사전 통보하여 허락을 득 하여야 한다.<br></p>
        <p>3) 연구원의 연구활동</p>
        <p>&nbsp; &nbsp; 1. 석사과정</p>
        <p>&nbsp; &nbsp; &nbsp; - 세미나에서 년간 최소 1편의 연구주제를 발표한다.</p>
        <p>&nbsp; &nbsp; &nbsp; - 논문 최종 심사 전 국내외 학술대회에 논문을 1회 이상 발표한다.</p>
        <p>&nbsp; &nbsp; &nbsp; - 논문 최종심사 전 또는 졸업후 6개월 이내 국내외 주요 학회 학술지에 논문을 1편 이상 제출하여야 한다.</p>
        <p>&nbsp; &nbsp; 2. 박사과정</p>
        <p>&nbsp; &nbsp; &nbsp; - 학위 취득 전까지 지도교수 연명으로 학구연구재단 등재후보지 이상에 2편 이상 게재 또는 SCI(E) 등재지 이상에 1편 이상 게재 또는 게제 확정하여야 한다.</p>
        <p>&nbsp; &nbsp; &nbsp; - 학위 취득 전까지 국내외 학술대회에 논문을 1회 이상 제출한다.</p>
        <p>&nbsp; &nbsp; &nbsp; - 비일전제(Part Time)연구원을 '방학기간 중 세미나' 에서 종사하고 있는 업무 등과 관련한 연구 주제를 발표하고, 이를 논문으로 발전시켜 국내외 학술지 또는 학술대회에 연간 1편 이상 제출한다.</p>
        <p>&nbsp; &nbsp; 3. 도시과학대학원과정</p>
        <p>&nbsp; &nbsp; &nbsp; - 논문 최종발표 후 6개월 이내에 학회 및 기타 논문집 또는 학술발표대회에 연구 논문을 발표한다.</p>
        <p>&nbsp; &nbsp; 4. 기타 본 연구실 내에서 필요하다고 인정되는 공동 프로젝트에 참가한다.<br></p>
        <p>4) 연구활동 내용 책자 발간</p>
        <p>&nbsp; &nbsp; 1. 당해년도에 발표한 각종 논문, 논설 및 연구보고서와 연구활동에 관련한 세미나 내용 등을 취합하여 정리한다.<br></p>
        <p>&nbsp; &nbsp; 2. 상기내용은 연 1회 발간하거나 연구실 홈페이지에 게재하여 관련분야의 인사들이 참고할 수 있도록 하는 것을 원칙으로 한다.<br></p>
    </dd>
    <br>
    <div class="slogan">
        06
    <br> 부칙
    </div>
    <br>
    <dd>
        <p>이 내규는 1999년 3월 1일부터 시행한다.</p>
        <p>운영위원회의 개정된 규정은 2001년 9월 1일부터 시행한다.</p>
        <p>운영위원회의 개정된 규정은 2005년 10월 1일부터 시행한다.</p>
        <p>운영위원회의 개정된 규정은 2007년 7월 6일부터 시행한다.</p>
        <p>운영위원회의 개정된 규정은 2011년 1월 1일부터 시행한다.</p>
        <p>운영위원회의 개정된 규정은 2013년 5월 1일부터 시행한다.</p>
        <p>운영위원회의 개정된 규정은 2014년 12월 18일부터 시행한다.</p>
    </dd>
<br>
<br>
<br>
</div>
        
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}